body 	{ margin: 50px; font-family: Verdana, Arial }
p 		{ text-align: justify } 
 
a:link 		{text-decoration: underline;		color: #0860a8;}
a:visited 	{text-decoration: underline;		color: #0860a8;}
a:active 	{text-decoration: underline;		color: #0860a8;}
a:hover 	{text-decoration: none;			color: #0860a8;}

.biblio a:link 		{text-decoration: underline;		color: #000000;}
.biblio a:visited 	{text-decoration: underline;		color: #000000;}
.biblio a:active 	{text-decoration: underline;		color: #000000;}
.biblio aa:hover 	{text-decoration: none;			color: #000000;}

.rif {color: #0c528c; font-weight: bold}
.file {color: #0b3d65; font-weight: bold}
.package {color: #2351b8; font-weight: bold} 

.inEvidenza {font-weight: 900; font-size: 250%;}

h1	{ padding-top: 1.3em}
h2	{ font-size: 150%; padding-top: 1em }
h3	{ font-size: 130%; padding-top: 1em }
h4	{ font-size: 110%; padding-top: 1em }

ul li p { padding: 0px; margin: 0px}
ul li {padding-bottom: 1.3em}
.stretto li {padding-bottom: 0px}

.links { padding-top: 0.4em; margin: 0px}

.intermezzo { padding-top: 1.2em; padding-bottom: 1.2em}

.dist { padding-top: 1.2em;}

.blocco { padding-bottom: 1.3em}

.codice { font-style: italic; font-weight: bold; font-size: 80%;}

.biblio { color: #000000}
