html {
    background-color: whitesmoke;
    color: #333;
}

body {
    padding-top: 70px;
    font-family: "Open Sans",sans-serif;

}

header {
    background-color: #303030;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 60px;    
    z-index: 1000;
}

#content {
    min-height: 400px;
}

#sidebar {
    min-height: 200px;
    float: right;
    width: 20%;
    border-left: #303030 thin solid ;
}

.separator {
    clear: both;
}

footer {
    background-color: #303030;
    color: whitesmoke;
    line-height: 40px;
    text-align: right;
    padding: 0 20px;
    height: 40px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

/*Navigazione*/
div.menu ul{
    position: absolute;
    right: 100px;
}

div.menu ul li {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    position: relative;
    width: 100px;
    text-align: center;
    color: #D3D1D1;
    cursor: pointer;    
    margin: 10px 0;
}

div.menu ul li:hover a{
    border-bottom: #b94a48 thin solid ;
}

div.menu ul li.selected {
    border-bottom: #D3D1D1 thin solid ;
    /*margin-bottom: -1px;*/
}

/*Logo*/
#site-name {
    color: #D3D1D1;
    font-size: 40px;
    left: 80px;
    position: absolute;
    top: 5px;
    font-family: initial;
}

/*Side bar*/
.side-container {
    /*background-color: #d3d1d1;*/
    /*border: #D3D1D1 solid thin;*/
    margin: 10px 30px;
    min-height: 140px;
    text-align: center

}


/*Circle*/
.external-circle {
    background-color: #303030;
    margin: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.circle {
    padding: 10px;
}

.circle .fill {
    background-color: whitesmoke;
    border-radius: 50%;

    width: 100px;
    height: 100px;
    position: absolute;    
    line-height: 100px;

    text-align: center;
}

.red-circle {
    background-color: #b94a48;
    color: #b94a48;
}
.green-circle {
    background-color: #468847;
    color: #468847;
}
.circle .fill {
    cursor: default;
}
.circle .fill .circle-text {    
    font-size: 40px;
    font-weight: bold;
}
.circle .fill:hover .circle-text {    
    display: none;
}
.circle .fill:hover .circle-sub-text {    
    display: block;
}
.info-wrapper .circle .fill .circle-sub-text {
    font-size: 20px;
}

.circle .fill .circle-sub-text {
    display: none;
    line-height: inherit;
    font-size: 40px;
}


/*Lista*/
.half-circle {
    display: inline-block;    
    width: 70px;
    height: 70px;
}
.half-circle .circle {
    padding: 3px;
}

.half-circle .circle .fill {
    width: 64px;
    height: 64px;
    line-height: 64px;
}

.half-circle .circle .fill .circle-text {    
    font-size: 16px;
}

/*Lista*/
.info-wrapper .external-circle {
    float: right;
    width: 50px;
    height: 50px;
}
.info-wrapper .circle {
    padding: 3px;
}

.info-wrapper .circle .fill {
    width: 44px;
    height: 44px;
    line-height: 44px;
}

.info-wrapper .circle .fill .circle-text {    
    font-size: 16px;
}

.list-item-container .img-container img {
    bottom: 50%;
    margin-bottom: -50%;
    position: absolute;
    width: 100%;
}




/*Content - List*/
.list-item-wrapper {
    padding: 5px;
}

.list-item-container {
    height: 150px;
    overflow: hidden;
    border-bottom: #D3D1D1 thin solid ;
}
.list-item-wrapper .img-container {
    float: left;
    height: 100px;
    width: 120px;
    position: relative
}



.list-item-wrapper .text-container {
    position: relative;
    margin-left: 140px;    
    margin-right: 60px;
    height: 100px;
}
.row-text {
    font-size: small;
    font-family: "Open Sans",sans-serif
}

p.row-text {
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 30px;
}

.list-item-wrapper .text-container .info-wrapper {
    bottom: 0;
    height: 30px;
    position: absolute;
    width: 100%;
    padding: 10px;
}
.list-item-container:hover {
    cursor: pointer;
    background-color: #fcfcfc    
}

/*Rating item*/
.icon-wrapper {
    bottom: 0;
    position: absolute;
    right: 0;
}

.icon-wrapper i {
    cursor: pointer;
    font-size: large;
    padding: 0 5px;
    color: #D3D1D1;
}

.icon-wrapper i:hover, .icon-wrapper i.rating-rated {
    color: #303030
}

/*Dettaglio*/
.comment-container {
    margin-left: 120px;
    margin-right: 20px;
    padding: 5px;
    margin:  0 5%;
}
.comment-wrapper {
    height: 100px;
    list-style: outside none none;
    position: relative;
    border-bottom: #D3D1D1 thin solid ;
    padding: 5px;
    overflow: hidden;
}
.comment-wrapper .row-text{
    position: absolute;
}

.row-text.author {
    top: 0;
    left: 0;
    font-weight: bold;
}
.row-text.date {
    right: 0;
    top: 0;
    font-weight: bold;

}
.row-text.text {    
    padding: 0 10px;
    top: 30px;
}

.detail-wrapper {
    border-bottom: #D3D1D1 thin solid ;
    padding: 5px;
}

.detail-wrapper .img-container {
    float: left;
    width: 30%;
    margin-top: 30px;
    position: relative;
}
.detail-wrapper .img-container img {
    width: 100%;
}

.detail-wrapper .text-container {
    position: relative;
    margin-left: 30%;    
    margin-right: 20px;
    height: 250px;
    padding: 20px;
}

p.row-text {
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 30px;
    font-size: small;
}

.detail-wrapper .text-container .info-wrapper {
    bottom: 0;
    height: 30px;
    position: absolute;
    width: 100%;
}


/*Form*/
.profile-wrapper {
    width: 90%;
    margin: 0 5%;
}

.info-container {
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.span-label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.span-input {
    display: inline-block;
    width: 200px;
}

.span-input.mod-view{
    text-align: left;
}

.hidden {
    display: none;
}

div.menu ul li a {
    color: inherit;
    text-decoration: none;
}

/*VIEW*/
.view-content {
    width: 80%;
}

#newCommentText {
    display: block;
    width: 100%;
}

.show-more {
    text-align: center;
    border: #C3C3C3  thin solid ;
    font-weight: bold;
    background-color: #303030;
    color: #D3D1D1
}

.show-more:hover {
    cursor: pointer;
    background-color: #525252;
}

.tab-navigator li {
    display: inline-block;
    font-size: 20px;
}

.tab-navigator li.selected {
    color: #D3D1D1;
}

.tab-navigator li:hover {
    color: #D3D1D1;
    cursor: pointer;
}

button {
    height: 40px;
    width: 150px;

    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom, #ffffff, #ededed);
    border-color: #cccccc #cccccc #b3b3b3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-size: 14px;
    padding: 4px 12px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

button:hover {
    background-image: linear-gradient(to bottom, #ededed, #ffffff);
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

input, textarea {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 4px 6px;
    vertical-align: middle;
}
textarea{
    height: 70px;
}
input:focus, input:hover {
    border: 1px solid #aaa;
}


.message-error, .message-success {
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}

.message-error {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
}

.message-success {
    background-color: #dff0d8;
    border-color: #468847;
    color: #468847;
}
.message-error i, .message-success i {
    margin-right: 5px;
}
.message-error i:hover {
    cursor: pointer;
    color: #c95a58;
}

.message-success i:hover {
    cursor: pointer;
    color: #569857;
}

.row-text-delete {
    bottom: 5px;
    position: absolute;
    right: 5px;
}

.row-text-delete:hover {
    color: #666;
    cursor: pointer;
}

.slide-wrapper{
    text-align: center;
    margin-top: 40px;
}

.slide-content-wrapper{
    position: relative;
}

.slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

img {
    border: #b94a48 solid 2px;
    border-radius: 5px;
}

#content #sidebar .slide-content img {
    height: 100px;
}
#content #sidebar .slide-wrapper {
    height: 150px;
}
#content .slide-content img {
    height: 300px;
}
#content .slide-wrapper {
    height: 400px;
}
#back-to-list:hover{
    cursor: pointer;
    color: #727272;
}


.row-text .fa-map-marker {
    margin-right: 10px;
}

.row-text.row-name{
    font-weight: bold;
}

.list-item-container .row-text.row-description {
    margin-right: 50px;
}

.applet-wrapper {
    text-align: center;
}
.filter-container{
    width: auto;
}

.filter-container > * {
    display: inline-block;
}

.applet-wrapper object {
    width: 80%;
    height: 500px;
}