<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>

<div id="back-to-list" data-bind="click: $root.showList"><i class="fa fa-arrow-circle-left "></i> Ritorna alla lista</div>
<div class="detail-wrapper">

    <div class="img-container">
        <img data-bind="attr: selectedPlace() ? {src: selectedPlace().imagePath, alt: selectedPlace().name} : '' " src="style-sheets/images/foto_non_disponibile.jpg" alt="Immagine non disponibile">
    </div>

    <div class="text-container">
        <p class="row-text row-name" data-bind="text: selectedPlace() ? selectedPlace().name : '' "></p>
        <p class="row-text" data-bind="text: selectedPlace() ? selectedPlace().description : '' "></p>
        <span class="row-text" data-bind="css: {hidden: selectedPlace() && selectedPlace().address() === undefined}"><i class="fa fa-map-marker"></i><span  data-bind="text: selectedPlace() ? selectedPlace().address : '' "></span></span>
        <!--<span  data-bind="text: selectedPlace().address() === undefined "></span>-->

        <span class="icon-wrapper">
            <i class="fa fa-thumbs-o-up rating-up" 
               data-bind="css: {'rating-rated': selectedPlace() && selectedPlace().userRating() > 0}, click: $root.rateUp "></i>
            <i class="fa fa-thumbs-o-down rating-down"  
               data-bind="css: {'rating-rated': selectedPlace() && selectedPlace().userRating() < 0}, click: $root.rateDown "></i> 
            <i class="fa fa-comment-o" data-bind="click: showNewComment "></i> 
        </span>
    </div>
</div>
<div id="newCommentContainer" class="comment-container" style="display: none">
    <span id="newCommentHeader">Lascia un commento:</span>
    <textarea id="newCommentText"></textarea>
    <button id="newCommentSubmit" data-bind="click: $root.newComment">commenta</button>
</div>
<ul class="comment-container" data-bind="foreach: comment() ? comment().list() : ''">
    <li class="comment-wrapper" data-bind="attr: {'data-id': $data.id} ">
        <span class="row-text author" data-bind="text: $data.cAuthor"></span>
        <span class="row-text date" data-bind="text: $data.cDate"></span>
        <span class="row-text text" data-bind="text: $data.cText"></span>
        <span class="row-text-delete" data-bind="css: {hidden: !$data.editable()}, click: $root.removeComment"><i class="fa fa-times"></i></span>
    </li>
</ul>
<div class="comment-container show-more" data-bind="css: {hidden: comment() && comment().remaining() < 1 }">
    <span class="show-more-text" data-bind="click: $root.loadComment">Mostra altri commenti (Ancora: <span data-bind="text: comment() ? comment().remaining() : 0"></span>)</span>
</div>